* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.head {
    display: flex;
    justify-content: space-around;
    background-color: #00BFD8;
    padding: 15px 0;    
    position: fixed;
    top: 0 ;
    width: 100%;
    z-index: 1;
    height: 48px;
  
}

nav {
    width: 30%;
   
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
   
    
}
nav ul li{
    color:white ;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    color:white ;
}
.logo-container {
    width: 119px;
    height: 42px;
}
.logo-container p {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    color:white ;
 
}
 
.landing-container {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
}

.meeting-img  {
    display: flex;
    margin-top: 250px;
    margin-left: 300px;
    width: 600px;
    height: 420px;
   
}

.content {
  
    position: absolute;
    margin-top: 300px;
    margin-left: 300px;
    font-family: 'Raleway', sans-serif;
    width: 100%;

}
.icon .fa-bars {
    display: none;
}

@media (max-width: 600px){
 .head {
     width: 100%;
 }
 
    .landing-container {
display: flex;
flex-direction: column;
width: 100%;
}
.icon .fa-bars {
    display:block;
    color: white;
}

nav {
    display: none;
}
.content{
    margin-top: 150px;
    margin-left: 600px;
    text-align: center;
}
.meeting-img {
    margin-top: 900px;
    margin-left: 500px;
}




}

    .content span {
        display: block;
        line-height: 60px;
        font-family: 'Raleway', sans-serif;
    }
    
    .content span:nth-child(1) {
        font-size: 40px;
        
        color:  #00BFD8;
        font-weight: bold;
    }
    .content span:nth-child(3) {
    font-size: 16px;
    color: #626262;
    line-height:20px;
    } 
    
    
    .content span:nth-child(2) {
    font-size: 40px;
    color: #393939;
    font-weight: bold;
    }

   .content .btn {
    display: inline-block;
    padding: 22px 24px;
    border: 2px solid #00bfd8;
    border-radius: 50px;
    background-color: #00bfd8;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin-top: 20px;

    font-weight: bold;

        }
        .btn:hover {
            background-color: white;
            color: #00bfd8;
            cursor: pointer;
          }

  
